<div class="top-title">
    <p id="title-quiz">English Quiz!!</p>
</div>
  <section class="container">
    <p id="question"></p>
    <ul id="choices"></ul>
    <div id="btn" class="disabled">Next</div>

    <section id="result" class="hidden">
      <p></p>
      <a href="">Replay?</a>
    </section>
  </section>
<%= link_to "IT-quiz", quizes_index_path, class:"quizes" %>
